@charset "UTF-8" ; 

/* reset */
* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: #333;}

body {font-family:'Pretendard','맑은 고딕', sans-serif;}

.container {width: 1400px; margin: 0 auto; border: 1px solid #000;}

header {}
header .topset {display: flex; justify-content: space-between;}
header .topset  .search_box {}
header .topset  .login_box {font-size: 15px;}
header .topset  .login_box .login {display: flex; justify-content: end;}
header .topset  .login_box .logout {display: none;}
header .topset  .login_box a {border: solid #000; padding: 16px 7px ;}

header h1 {margin: 0 auto; text-align: center;}
header nav {margin-top: 34px; border: 1px solid red;}
header nav .gnb {border: 1px solid #000; display: flex; }
header nav .gnb li {border: 1px solid blue; font-size: 18px; flex-grow: 1; display: flex;}
header nav .gnb li a {border: 1px solid green; flex-grow: 1; text-align: center; padding: 13px;}